<!DOCTYPE html>
<html>
  <head>
    <title> ADMIN DASHBOARD</title>
  </head>
  <body>
    <form method='post'>
      <a href="/logout"> LOGOUT </a>
      <table>
        <tr>
          <td style="width:250px;" align="center"> <input style="width:150px; height:60px;" type='submit' name='add' value='Register'> </td>
          <td align="center"> <input style="width:150px; height:60px;" type='submit' name='all' value='Update/Delete'> </td>
        </tr>
      </table>
    </form>
  </body>
</html>
